@import "navi.css";
@import "forms.css";
@import "tables.css";
body {
    background-color: #FFFFFF;
    color: #777777;
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
img {
    border: medium none;
    display: block;
    margin: 0;
    padding: 0;
}
.justify {
    text-align: justify;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.nostart {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
br.clear {
    clear: both;
    margin-top: -15px;
}
a {
    outline: medium none;
    text-decoration: none;
}
.fl_left {
    float: left;
}
.fl_right {
    float: right;
}
.imgl, .imgr {
    padding: 5px;
}
.imgl {
    clear: left;
    float: left;
    margin: 0 8px 8px 0;
}
.imgr {
    clear: right;
    float: right;
    margin: 0 0 8px 8px;
}
div.wrapper {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 960px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
}
#header, #topbar, #homecontent, #imageline, #container, #breadcrumb, #footer {
    display: block;
    width: 960px;
}
#header {
    border-bottom: 1px dotted #999999;
    padding: 20px 0;
}
#header .fl_left {
    display: block;
    float: left;
    width: 260px;
}
#header .fl_left h1, #header .fl_left p {
    line-height: normal;
    margin: 0;
    padding: 0;
}
#header .fl_left h1 {
    font-size: 42px;
}
#header h1 a {
    background-color: #FFFFFF;
    color: #666666;
}
#topbar {
    padding: 20px 0 0;
}
#topbar .fl_left p {
    margin: 0 0 6px;
    padding: 0;
}
#intro {
    background-color: #F0F0F0;
    color: #666666;
    display: block;
    font-family: Georgia,"Times New Roman",Times,serif;
    margin: 5px 0 0;
    padding: 30px;
    width: 900px;
}
#intro a {
    background-color: #F0F0F0;
    color: #C80000;
}
#intro .fl_left {
    display: block;
    float: left;
    width: 360px;
}
#intro .fl_right {
    display: block;
    float: right;
    width: 500px;
}
#intro .fl_right h2, #intro .fl_right ul, #intro .fl_right p {
    line-height: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#intro .fl_right h2 {
    font-size: 42px;
    margin: 15px 0;
}
#intro .fl_right p {
    font-size: 16px;
    line-height: 1.6em;
}
#homecontent {
    padding: 30px 0 25px;
}
#homecontent ul {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#homecontent li {
    display: block;
    float: left;
    margin: 0 45px 0 0;
    width: 290px;
}
#homecontent li.last {
    margin-right: 0;
}
#homecontent h2 {
    margin-bottom: 15px;
}
#homecontent p {
    line-height: 1.4em;
    margin: 0 0 20px;
}
#homecontent p.readmore {
    margin-bottom: 5px;
}
#homecontent p.readmore a {
    background-color: #F0F0F0;
    color: #C80000;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
    padding: 5px 15px;
}
#imageline {
    border-top: 1px dotted #999999;
    padding: 30px 0;
}
#imageline ul {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#imageline li {
    border: 1px solid #999999;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 4px;
}
#imageline li.last {
    margin-right: 0;
}
#breadcrumb {
    background-color: #F0F0F0;
    color: #666666;
    margin: 5px 0 0;
    padding: 20px 0;
}
#breadcrumb a {
    background-color: #F0F0F0;
    color: #C80000;
}
#breadcrumb ul {
    list-style: none outside none;
    margin: 0 10px;
    padding: 0;
}
#breadcrumb ul li {
    display: inline;
}
#breadcrumb ul li.current a {
    text-decoration: underline;
}
#container {
    line-height: 1.4em;
    padding: 30px 0;
}
#container a {
    background-color: #FFFFFF;
    color: #C80000;
}
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6 {
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 15px;
    padding-bottom: 8px;
}
#content {
    display: block;
    float: left;
    width: 630px;
}
#comments {
    margin-bottom: 40px;
}
#comments .commentlist {
    margin: 0;
    padding: 0;
}
#comments .commentlist ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even {
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 15px;
}
#comments .commentlist li.comment_odd {
    background-color: #FFFFFF;
    color: #666666;
}
#comments .commentlist li.comment_odd a {
    background-color: #FFFFFF;
    color: #C80000;
}
#comments .commentlist li.comment_even {
    background-color: #E8E8E8;
    color: #666666;
}
#comments .commentlist li.comment_even a {
    background-color: #E8E8E8;
    color: #C80000;
}
#comments .commentlist .author .name {
    font-weight: bold;
}
#comments .commentlist .submitdate {
    font-size: smaller;
}
#comments .commentlist p {
    font-weight: normal;
    margin: 10px 5px 10px 0;
    padding: 0;
    text-transform: none;
}
#comments .commentlist li .avatar {
    border: 1px solid #EEEEEE;
    float: right;
    margin: 0 0 0 10px;
}
#column {
    display: block;
    float: right;
    width: 300px;
}
.flickrbox ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.flickrbox li {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #666666;
    display: block;
    float: left;
    height: 80px;
    margin: 0 15px 15px 0;
    padding: 4px;
    width: 80px;
}
.flickrbox li.last {
    margin-right: 0;
}
#column .holder, #column #featured {
    display: block;
    margin-bottom: 20px;
    width: 300px;
}
#column .holder h2.title {
    border-bottom: 1px dashed #666666;
    display: block;
    font-size: 20px;
    height: 65px;
    line-height: normal;
    margin: 0;
    padding: 15px 0 0;
    width: 100%;
}
#column .holder h2.title img {
    border: 1px solid #666666;
    float: left;
    margin: -15px 8px 0 0;
    padding: 5px;
}
#column div.imgholder {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #666666;
    display: block;
    margin: 0 0 10px;
    padding: 4px;
    width: 290px;
}
#column .holder p.readmore {
    display: block;
    font-weight: bold;
    line-height: normal;
    text-align: right;
    width: 100%;
}
#column #featured a {
    background-color: #F9F9F9;
    color: #666666;
}
#column #featured ul, #column #featured h2, #column #featured p {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#column #featured a {
    background-color: #F9F9F9;
    color: #C80000;
}
#column #featured li {
    background-color: #F9F9F9;
    color: #666666;
    display: block;
    margin: 0;
    padding: 20px 25px;
    width: 250px;
}
#column #featured li p.imgholder {
    border: 1px solid #CCCCCC;
    display: block;
    height: 90px;
    margin: 20px 0 15px;
    padding: 4px;
    width: 240px;
}
#column #featured li h2 {
    border-bottom: 1px dashed #666666;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0 0 14px;
}
#column #featured p.readmore {
    display: block;
    font-weight: bold;
    line-height: normal;
    margin-top: 15px;
    text-align: right;
    width: 100%;
}
#column #latestnews {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#column #latestnews li {
    border-bottom: 1px dotted #CCCCCC;
    display: block;
    margin: 0 0 20px;
    padding: 0 0 15px;
}
#column #latestnews li.last {
    margin-bottom: 0;
}
#column #latestnews p {
    margin: 0 0 5px;
    padding: 0;
}
#column #latestnews p.readmore {
    margin: 0;
    padding: 0;
}
#column #latestnews .imgl {
    margin: 0 10px 10px 0;
    padding: 4px;
}
#footer {
    border-top: 1px dotted #999999;
    padding: 30px 0;
}
#footer a {
    background-color: #FFFFFF;
    color: #C80000;
}
#footer h2, #footer p, #footer ul, #footer a {
    font-weight: normal;
    line-height: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#footer h2 {
    background-color: #FFFFFF;
    border-bottom: 1px dotted #999999;
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-bottom: 8px;
}
#footer li {
    margin-bottom: 5px;
}
#footer .footbox {
    display: block;
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
    width: 180px;
}
#footer .last {
    margin: 0;
}
#copyright {
    display: block;
    padding: 10px;
    width: 940px;
}
#copyright, #copyright a {
    background-color: #F6F6F6;
    color: #666666;
}
#copyright p {
    margin: 0;
    padding: 0;
}
